* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
:root {
  --main-color: rgb(122, 151, 169);
  --background-color: rgb(230, 242, 254);
  --green: rgb(219, 218, 42);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
}
.main-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 315px;
  max-width: 1060px;
  height: 570px;
  background-color: #fff;
}
@media (max-width: 992px) {
  .main-box {
    grid-template-columns: 1fr;
  }
  .page {
    all: inherit;
  }
}

.main-box .input-box {
  padding: 20px;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.main-box .input-box .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-box .input-box .header span {
  display: block;
  font-size: 15px;
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
  padding: 4px 6px;
  opacity: 0.5;
  transition: 0.3s;
}
.main-box .input-box .header span:hover {
  opacity: 1;
}

.main-box .input-box .Mortgage-Amount .content {
  margin-top: 30px;
  position: relative;
}
.main-box .input-box .Mortgage-Amount h4 {
  color: var(--main-color);
  font-weight: normal;
  margin: 8px 0;
}
.main-box .input-box .Mortgage-Amount .Amount-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

.main-box .input-box .Mortgage-Amount .Amount-input:hover {
  border: 1px solid var(--green);
}
.main-box .input-box .Mortgage-Amount .Amount-input:hover span,
.options-of-mortgage > div div:hover span {
  background-color: var(--green);
}
.main-box .input-box .Mortgage-Amount .Amount-input span {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
  background-color: var(--background-color);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: 0.3s;
}
.main-box .input-box .Mortgage-Amount .Amount-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
}
.main-box .input-box .Mortgage-Amount .Amount-input input:focus,
.options-of-mortgage > div div input:focus {
  outline: none;
}

.options-of-mortgage {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

@media (max-width: 992px) {
  .options-of-mortgage {
    flex-wrap: wrap;
  }
}
.options-of-mortgage > div div {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
}

.options-of-mortgage > div div input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  position: relative;
}

.options-of-mortgage > div div span {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ccc;
  background-color: var(--background-color);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.mortgage-type {
  margin-top: 30px;
}
.choices div {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.3s;
  border-radius: 5px;
}
.choices div:hover {
  border: 1px solid rgb(219, 218, 42);
}
.choices div label {
  flex: 1;
  padding: 10px;
  cursor: pointer;
}
.choices div input {
  width: 25px;
  height: 25px;
  margin: 0;
}

.calc {
  border: none;
  background-color: rgb(219, 218, 42);
  color: rgb(19, 48, 64);
  padding: 10px;
  width: 200px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
  opacity: 1;

  transition: 0.2s;
}
.calc:hover {
  opacity: 0.5;
}
.calc img {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.main-box .result-box {
  padding: 30px;
  background-color: rgb(19, 48, 64);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 992px) {
  .main-box .result-box {
    border-radius: 0;
  }
}

.main-box .result-box .text {
  text-align: center;
}
.main-box .result-box .text h3 {
  color: white;
  font-size: 22px;
  margin-top: 5px;
}
.main-box .result-box .text p {
  line-height: 1.6;
  color: var(--main-color);
}
.main-box .result-box .img {
  width: 175px;
  height: 175px;
}
.main-box .result-box .img img {
  max-width: 100%;
}

/* form the javascript elemnts */
.container h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
  color: var(--main-color);
}

.main-box .result-box div:last-child p {
  color: var(--main-color);
  margin-bottom: 25px;
}
.main-box .result-box div:last-child span {
  color: white;
}
